<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>A Tribute to Margaret Atwood</title>
</head>
<body>
    <ul id="navigation">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/works">Books</a></li>
      <li><a href="/photo-gallery">Photo Gallery</a></li>
    </ul>
    <div class="hero-container"> 
      <h1>Welcome to Margaret Atwood's Unofficial Website</h1>
      <img src="../images/margaret_atwood1.jpeg" alt="">
    </div>
   
  </body>
</html>